- var pathIcon = isDev ? '../image/icon/' : baseUrl + 'resources/image/icon/'

- for (var i = 0; i < data.pageData.length; i++) {

- var item = data.pageData[i]

- item.newsImgUrl = item.newsImgUrl || item.shopImg
- item.newsTitle = item.newsTitle || item.shopName

- if(linkTo === 'search'){
-   if(item.articleType === 'NEWS'){
-     item.articleType = 'news'
-   }else if(item.articleType === 'ROUTE'){
-     item.articleType = 'route'
-   }else if(item.articleType === 'HOWTO'){
-     item.articleType = 'howTo'
-   }else if(item.articleType === 'PASS'){
-     item.articleType = 'pass'
-   }
- } else {
-   item.articleType = linkTo
- }

  li.item.item_a.my_item_li.swiper-slide(data-shops=linkTo==='favStore'?JSON.stringify(item):'')
    div.item_wrapper.x_item_wrapper(data-type=item.articleType || 'NEWS' data-id=item.newsId data-url=item.accessUrl)
      - if(item.newsest) {
      .news_status_wrap
        i
        span NEW
      - }
      .hoge
        - if(item.imageType === "YOUTUBE"){
        .visual_video
          img(src=pathIcon + 'play.svg' alt="")
        - }
        - if(isTop && isSP) {
        .visual.lazy.swiper-lazy(data-background=item.newsImgUrl data-original=item.newsImgUrl)
        - } else {
        .visual(style={"background-image": 'url('+item.newsImgUrl+')'})
        - }
        .detail
          .title
            p.text.x_clamp_title
              = item.newsTitle
            p.time
              = item.convertDt
          - if(linkTo !== 'favStore'){
          .item_btn_wrap
            - if(linkTo !== 'rank'){
            include ./_label_area
            - }
            include ./_button_like
            - if(linkTo === 'rank'){
            include ../../html/includes/_button_bookmark
            - }
          - }
      .cover
        p.title.x_clamp_title
          = item.newsTitle
        p.description.x_clamp_description
          != item.newsContent
      .checkbox_wrap
        input(type="checkbox" name="followCk" value=item.objId)
-}