-
  pathIcon = isDev ? '../image/' : baseUrl + 'resources/image/'
  shop_text = [
   {
     "icon":"icon/pin.svg",
     "text": data.shopAddress,
   },
   {
     "icon":"icon/clock.svg",
     "text":data.businessTime,
   },
   {
     "icon":"icon/holiday.svg",
     "text":data.closedTime,
   },
   {
     "icon":"icon/phone.svg",
     "text":data.shopTel,
   },
   {
     "icon":"icon/earth.svg",
     "text":data.shopUrl,
   }
  ];
-
.visual
  img.shop_image(src=data.shopImg alt="" width="100%" height="auto")
.shop_detail
  p.shop_title
    span
      = data.shopName+data.shopNameReading
    span.icon_collapse.x_icon_collapse
  div.shop_detail_list.animate.is_close
    - for (var i = 0; i < shop_text.length; i++) {
    - var item = shop_text[i]
      - if(item.text && item.text !== ''){
      .text
        .icon
          img(src=pathIcon+item.icon alt="")
        - if(i===shop_text.length-1) {
        p
          a(href=item.text target="_blank")=item.text
        - } else {
        p= item.text
        - }
      - }
    - }
.line
.link_image.link_pin.x_pin(data-url=data.pinnUrl)
  img(src=pathIcon + "dummy/ad/pinnar.svg" alt="pinnAR")
- if(data.showCoupon) {
.coupon(class=!item.available ? "is_unavailable" : "")
  img(src=data.couponImg alt="" class="shop_image" width="100%" height="auto")
- }