extends ../layouts/_default.pug
block meta
  - var page_name = "search"
  title
    =page_name
  meta(
  name='keywords'
  content='keywords'
  )
  meta(
  name='description'
  content='description'
  )
  meta(
  name='language'
  content='en'
  )

block page_option
  - page_class.push('page_a  page_search_list')
  - base_path = '../'

block content
  -
    data.type =[
      {"name": "すべて", "value": "all"},
      {"name": "特集", "value": "NEWS"},
      {"name": "トラベルプラン", "value": "ROUTE"},
      {"name": "お得なパス", "value": "PASS"},
      {"name": "HOW TO", "value":"HOWTO"}
    ]
    data.area =[
      {value: 'all', name: 'すべて'},
      {value: 'Hokkaido', name: '北海道'},
      {value: 'Tohoku', name: '東北'},
      {value: 'Kanto', name: '関東'},
      {value: 'Kansai', name: '関西'},
      {value: 'Tokai', name: '東海'},
      {value: 'Hokuriku', name: '北陸'},
      {value: 'Shikoku',name: '四国'},
      {value: 'Sanin', name: '山陰'},
      {value: 'Sanyo', name: '山陽'},
      {value: 'Kyushu', name: '九州'},
      {value: 'Okinawa', name: '沖縄'}
    ]
    data.theme = [
      {value: 'all', name: 'すべて'},
      {value: 'townWalk', name: '街歩き'},
      {value: 'forest', name: '森林'},
      {value: 'sea', name: '海'},
      {value: 'night', name: '夜'},
      {value: 'season', name: '季節'}
    ]
    data.traffic = [
      {value: 'all', name: 'すべて'},
      {value: 'electricTrain', name: '電車'},
      {value: 'bus', name: 'バス'},
      {value: 'boat', name: '船'},
      {value: 'other', name: 'その他'}
    ]
    data.budget =[
      {value: '-1', name: 'すべて'},
      {value: '3000', name: '～3,000円'},
      {value: '9999', name: '～9,999円'},
      {value: '10000', name: '10,000円以上'}
    ]

  .page_content
    .search_bar
      .search_input
        <input type="text" class="input x_global_search_input">
        <span class="clear x_clear"></span>
        a.search_button(href="javascript:void(0);")
          = '搜索'
      .wrapper
        <p class="total_text">全て: <span class="x_total_count">--</span>件</p>
        .button.x_reset_total
          | Reset
        .action
          .item
            | 时间
          .item
            | 人气
        .icon_filter.x_icon_filter
          img(src=path_icon + 'filter.svg' alt="filter")
      .bg
    .content
      .wrapper.x_news_list
        .search_condition.x_search_condition
          .item.type(data-value='type')
            .title ジャンル：
              span.reset_text
            .label
              - for (var i = 0; i < data.type.length; i++){
              - var item = data.type[i]
              .label_item(data-value=item.value)
                = item.name
              - }
          .item.area(data-value='area')
            .title 地域：
              span.reset_text
            .label
              - for (var i = 0; i < data.area.length; i++){
              - var item = data.area[i]
              .label_item(data-value=item.value)
                = item.name
              - }
          .item.theme(data-value='theme')
            .title テーマ：
              span.reset_text
            .label
              - for (var i = 0; i < data.theme.length; i++){
              - var item = data.theme[i]
              .label_item(data-value=item.value)
                = item.name
              - }
          .item.traffic(data-value='traffic')
            .title 交通：
              span.reset_text
            .label
              - for (var i = 0; i < data.traffic.length; i++){
              - var item = data.traffic[i]
              .label_item(data-value=item.value)
                = item.name
              - }
          .item.budget(data-value='budget')
            .title 予算：
              span.reset_text
            .label
              - for (var i = 0; i < data.budget.length; i++){
              - var item = data.budget[i]
              .label_item(data-value=item.value)
                = item.name
              - }

          .button_group
            .button.x_reset_total
              | Reset
            .button.button_primary.x_confirm_total
              | Ok
        .content_body
          ul.news_list.x_render_parent
          include ../includes/_loading.pug
          .is_empty.x_is_empty
            p
              ='データがありません'
            .button.x_reset_total
              | Reset