-
  var path_module = path_image;
  var path_icon =  base_path + 'image/icon/share/';
  data.navi =[
    {
      "name": "TOP",
      "link": "#",
      "icon": "home.svg",
    },
    {
      "name": "特集",
      "link": "#",
      "icon": "news.svg",
    },
    {
      "name": "トラベルプラン",
      "link": "#",
      "icon": "pin.svg",
    },
    {
      "name": "お得なパス",
      "link": "#",
      "icon": "pass.svg",
    },
    {
      "name": "HOW TO",
      "link": "#",
      "icon": "how_to.svg",
    }
  ]
  data.navi2=[
    {
      "name": "運営会社",
      "link": "#"
    },
    {
      "name": "プライバシーポリシー",
      "link": "#"
    },
    {
      "name": "利用規約",
      "link": "#"
    },
    {
      "name": "お問い合わせ",
      "link": "mailto:info@n-hodai.jp"
    }
  ]
  data.share =[
    {
      "name": "FaceBook",
      "link": "#",
      "icon": "facebook_s.svg"
    },
    {
      "name": "Instagram",
      "link": "#",
      "icon": "ins_s.svg"
    },
    {
      "name": "LINE@",
      "link": "#",
      "icon": "line_s.svg"
    }
  ]
-
<footer class="footer">
  <div class="footer_wrapper">
    <div class="logo">
      <img src="#{path_module}logo_b.png" alt="日本">
      <p>Copyright © Telecom Square,Inc.All Rights Reserved.</p>
    </div>
    <div class="list">
      <ul class="page_nav">
        - for (var i=0; i<data.navi.length; i++) {
        - var item = data.navi[i]
          <li class="item">
            <a href=#{item.link}>#{item.name}</a>
          </li>
        -}
        <li>
      </ul>
      <ul>
        - for (var i=0; i<data.navi2.length; i++) {
        - var item = data.navi2[i]
          <li class="item">
            <a href=#{item.link}>#{item.name}</a>
          </li>
        -}
      </ul>
    </div>
    <div class="follow">
      <p>FOLLOW US</p>
      <ul>
        - for (var i=0; i<data.share.length; i++) {
        - var item = data.share[i]
          <li>
            <img src=#{path_icon}#{item.icon} alt=#{item.name}>
            <a href=#{item.link}>#{item.name}</a>
          </li>
        -}
      </ul>
    </div>
  </div>
</footer>
















