-
  var path_module = path_image + 'header/';
  data.navi =[
    {
      "name": "TOP",
      "link": "/top/top.html?isDev=true",
    },
    {
      "name": "特集",
      "link": "/news/list.html?isDev=true",
    },
    {
      "name": "トラベルプラン",
      "link": "#",
    },
    {
      "name": "お得なパス",
      "link": "#",
    },
    {
      "name": "HOW TO",
      "link": "#",
    }
  ]
  data.sns =[
      {
        "name": "Facebook",
        "icon": "s_facebook.svg",
        "link": "#",
      },
      {
        "name": "Instagram",
        "icon": "s_instagram.svg",
        "link": "#",
      },
      {
        "name": "Line@",
        "icon": "s_line.svg",
        "link": "#",
      }
  ]
  data.lang =[
    {
      "name": "日本語",
      "icon": "jp.png",
      "value": "ja",
    },
    {
      "name": "English",
      "icon": "en.png",
      "value": "en",
    },
    {
      "name": "繁體中文",
      "icon": "zh.png",
      "value": "zh",
    },
    {
      "name": "한국어",
      "icon": "ko.png",
      "value": "ko",
    },
  ]
-
- if(headerType === '1') {
  <header class="header" id="x_header" data-login="true">
    <div class="top">
      <div class="wrapper">
        <div class="login_link"><a href="/login/register.html">ログイン</a><i>・</i><a href="/login/login_select.html">新規登録</a></div>
        <a href="/login/login_select.html" class="login_suc_wrap">
          <p><span class="is_default_portrait"></span><img src="../image/icon/file_default.svg" alt="" /><span>マイページ</span></p>
        </a>
        <div class="lang lang_pc x_lang_select">
          <p class="headline">
            <span class="current_lang x_current_lang">日本語</span>
          </p>
          <ul class="lang_list">
            - for (var i = 0; i < data.lang.length; i++) {
            - var item = data.lang[i]
            <li class="item x_lang_item x_lang_#{item.value}" data-value="#{item.value}">
              | #{item.name}
            </li>
            -}
          </ul>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="wrapper">
        <div class="nav_toggle x_menu_toggle">
          <img src=#{path_module + "menu.svg"} width="20px" height="auto">
        </div>
        <div class="logo">
          <a href=#{base_path + "index.html"}>
            <img src=#{path_image + "logo_sp.svg"} alt="日本放題" class="logo_image is_white">
            <img src=#{path_image + "logo_b.png"} alt="日本放題" class="logo_image is_black">
          </a>
        </div>
        <nav class="nav">
          <ul class="nav_list">
            - for (var i = 0; i < data.navi.length; i++) {
            - var item = data.navi[i]
              <li class="item">
                <a href=#{item.link} class=#{i==1 ? 'active' : ''}>#{item.name}</a>
              </li>
            -}
          </ul>
        </nav>
        <div class="search_toggle x_search_open show_sp">
          <img src=#{path_module + "search.svg"} width="20px" height="auto">
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="wrapper">
        <div class="search">
          include _search_select.pug
          <input type="text" placeholder="" class="x_global_search_input">
          <a href="javascript:void(0);" class="search_button">検索</a>
        </div>
      </div>
    </div>
  </header>
- } else {
  header(class="header header_login_wrap", id="x_header")
    .top
      .wrapper
        h1
          a
        div(class="lang lang_pc x_lang_select")
          p.headline
            span(class="current_lang x_current_lang") 日本語
            ul.lang_list
              - for (var i = 0; i < data.lang.length; i++) {
              - var item = data.lang[i]
              li(class="item x_lang_item x_lang_" + item.value data-value=item.value) #{item.name}
              -}
    .middle
      .wrapper
        .logo
          img(src=path_image + "logo_sp.svg")

- }


<div class="menu x_menu show_sp">
  <div class="mask x_menu_close"></div>
  <div class="wrapper">
    <div class="head_line">
      <span class="close x_menu_close">
        <img src=#{path_module + "menu_close.png"} width="16px" height="auto">
      </span>
      <span class="title">MENU</span>
    </div>
    <hr>
    <div class="lang x_lang_select">
      <p class="headline">
        <span class="text">Language</span>
        <span class="current_lang x_current_lang">日本語</span>
      </p>
      <ul class="lang_list">
        - for (var i = 0; i < data.lang.length; i++) {
        - var item = data.lang[i]
        <li class="item x_lang_item x_lang_#{item.value}" data-value="#{item.value}">
          | #{item.name}
        </li>
        -}
      </ul>
    </div>
    <div class="nav_login_wrap">
      <a href="#"><span class="is_default_portrait"></span> <img src="../image/icon/file_default.svg"><span>マイページ</span></a>
      <div class="nav_login_btn"><a class="">ログイン</a><i>・</i><a>新規登録</a></div>
    </div>
    <hr>
    <nav class="nav">
      <ul class="nav_list">
        - for (var i = 0; i < data.navi.length; i++) {
        - var item = data.navi[i]
          <li class="item">
            <a href="#{item.link}" class=#{i==1 ? 'active' : ''}>#{item.name}</a>
          </li>
        -}
          li.item
            a(href="#")
              ='運営会社'
          li.item
            a(href="#")
              ='プライバシーポリシー'
          li.item
            a(href="#")
              ='利用規約'
          li.item
            a(href="mailto:info@n-hodai.jp")
              ='お問い合わせ'
      </ul>
    </nav>
    <hr>
    <div class="sns">
      <p class="title">FOLLOW US</p>
      <ul class="sns_list">
        - for (var i = 0; i < data.sns.length; i++) {
        - var item = data.sns[i]
          <li class="item">
            <a href=#{item.link}>
              <img src="#{path_icon + 'share/' + item.icon}" alt=#{item.name}>
              | #{item.name}
            </a>
          </li>
        -}
      </ul>
    </div>
    <hr>
  </div>
</div>

<div class="cover_search x_cover_search x_search_close"></div>







