extends ../layouts/_default
block meta
  - var page_name = "記事名記事名記事名記事名記事名記事名"
  - var isRoute = true
  title
   =page_name
  meta(
    name='keywords'
    content='keywords'
  )
  meta(
    name='description'
    content='description'
  )
  <meta property="og:title" content="文章的title">
  <meta property="og:description" content="文章的说明 : 可以空白">
  <meta property="og:image" content="[絶対path]">
  <meta property="og:type" content="article" />
  <meta property="og:url" contetnt="文章的title">
  <meta property="fb:app_id" content="App ID" />
  <meta property="article:publisher" content="https://www.facebook.com/NIPPONHODAI" />


block page_option
  - page_class.push('page_a page_detail')
  - base_path = '../'

block content
  -
    var path_module = path_image + 'news_list/';
    data.shop_text = [
        {
          "icon":"pin.svg",
          "text":"住所",
        },
        {
          "icon":"clock.svg",
          "text":"テキスト",
        },
        {
          "icon":"holiday.svg",
          "text":"休み",
        },
        {
          "icon":"phone.svg",
          "text":"電話",
        }
    ]
    data.sns = [
      {
        "name":"twitter",
        "link":"#",
      },
      {
        "name":"facebook",
        "link":"#",
      },
      {
        "name":"wechat",
        "link":"#",
      },
      {
        "name":"line",
        "link":"#",
      },
      {
        "name":"copy_link",
        "link":"#",
      }
    ]
    data.tag = [
      {
        "name":"ショッピング",
        "link":"#",
      },
      {
        "name":"東北",
        "link":"#",
      },
      {
        "name":"タグ_1",
        "link":"#",
      }
    ]
  -
  +breadcrumb([
    {
      name: 'Top',
      link: 'index.html'
    },
    {
      name: '特集一覧',
      link: 'news/list.html'
    },
    {
      name: page_name,
      link: ''
    }
  ])
  <div class="page_content page_route_detail">
    <div class="main_content">
      <!-- main post -->
      include ../detail_partical/_detail_main_post
      <!-- sub post -->
      include ../detail_partical/_detail_sub_post
      section.content
        .wrapper
          .label_content.content_path
            .label_title
              | 経路
            .text
              .text_inner
               !='出発：長野 → 到着：北千住<br>ＪＲ新幹線はくたか570号・東京行<br> ＪＲ常磐線快速・取手行'
      include ../detail_partical/_detail_sub_post

      <!--add-->
      section.content
       .wrapper
         .label_content.content_pass
           .label_title
             | 今回使用したパス
           a.visual(href="#")
             <img src=#{path_dammy + "item_01_big.png"} alt="" width="100%" height="auto">
           p
             ="XXXXXXXXXXXXX"

         .label_content.content_pay
           .label_title
             | かかった費用（食費、買い物代除く）
           .price
             .item
               span
                 | 正規価格：
               span
                 | 8000円
             .item
               span
                 | お得価格：
               span.font_highlight
                 | 8000円
             .sale
               span
                 | 割引率：12.5%

      <!--summary-->
      include  ../detail_partical/_detail_summary
      <!--tag-->
      include ../detail_partical/_detail_main_tag
      <!--share-->
      include ../detail_partical/_detail_share
      <!--shop-->
      section.content.content_sub
        .wrapper
          h4.title
            | 店舗情報
          include  ../detail_partical/_detail_shop
          include ../detail_partical/_detail_relation_route&pass

      <!--relate post-->
      include  ../detail_partical/_detail_side_bar
    </div>
    <!--right bar-->
    include ../detail_partical/_detail_side_bar
  </div>

