.option_form
  .item
    .form_title
      | 交通
    .form_content
      - for (var i = 0; i < data.traffic.length; i++) {
      - var item = data.traffic[i]
      .icon_item(class= i==1 ? 'active' : '')
        img(src=path_icon + 'traffic/' + item.icon alt=item.text)
        .icon_text
          =item.text
      -}
  .item
    .form_title
      | 有効期限
    .form_content
      | 片道 / 往復
  .item
    .form_title
      | 设施商店折扣
    .form_content
      img(src=path_icon + 'icon_enable.svg' alt="enable")
  .item
    .form_title
      | クレジットカード
    .form_content
      img(src=path_icon + 'icon_enable.svg' alt="enable")
  .item
    .form_title
      | WEB販売
    .form_content
      img(src=path_icon + 'icon_able.svg' alt="able")
  .item
    .form_title
      | 多言語サイト
    .form_content
      img(src=path_icon + 'icon_able.svg' alt="able")