extends ../layouts/_default
block meta
  - var page_name = "特急「りょうもう」号 「普悠瑪」デザイン"
  title
   =page_name
  meta(
    name='keywords'
    content='keywords'
  )
  meta(
    name='description'
    content='description'
  )
  <meta property="og:title" content="特急「りょうもう」号 「普悠瑪」デザイン">
  <meta property="og:description" content="文章的说明 : 可以空白">
  <meta property="og:image" content="[絶対path]">
  <meta property="og:type" content="article" />
  <meta property="og:url" contetnt="文章的title">
  <meta property="fb:app_id" content="App ID" />
  <meta property="article:publisher" content="https://www.facebook.com/NIPPONHODAI" />

block page_option
  - page_class.push('page_a page_detail page_pass_detail')
  - base_path = '../'

block content
  -
    var path_module = path_image + 'pass/';
    data.inside_article = [
        {
          "title":"このパスで行ける主なスポット",
          "swiper":"spotSwiper",
          "article":[
                      {
                        "text":"ルート_記事_1",
                        "link":"#"
                      },
                      {
                        "text":"ルート_2",
                        "link":"#"
                      },
                      {
                        "text":"ルート_3",
                        "link":"#"
                      },
                      {
                         "text":"ルート_3",
                         "link":"#"
                      },
                    ]
        },
        {
          "title":"このお店は含まれるお得パス",
          "swiper":"modalSwiper",
          "article":[
                      {
                        "text":"お得パス_記事_1",
                        "link":"#"
                      },
                      {
                        "text":"お得パス_2",
                        "link":"#"
                      },
                      {
                        "text":"お得パス_3",
                        "link":"#"
                      },
                    ]
        }
    ]
    data.relation = {
        "title":"関連する記事",
        "swiper":"relationSwiper",
        "article":[
          {
            "text":"ルート_記事_1",
            "link":"#"
          },
          {
            "text":"ルート_2",
            "link":"#"
          },
          {
            "text":"ルート_3",
            "link":"#"
          },
          {
            "text":"ルート_3",
            "link":"#"
          },
        ]
      }
    data.traffic =[
      {
        "text":"電車",
        "icon":"train.svg"
      },
      {
        "text":"バス",
        "icon":"bus_active.svg"
      },
      {
        "text":"船",
        "icon":"boat.svg"
      },
      {
        "text":"車",
        "icon":"car.svg"
      },
      {
        "text":"自転車",
        "icon":"bike.svg"
      },
      {
        "text":"飛行機",
        "icon":"plane.svg"
      }
    ]

  +breadcrumb([
    {
      name: 'Top',
      link: 'index.html'
    },
    {
      name: 'お得なパス一覧',
      link: 'pass/list.html'
    },
    {
      name: page_name,
      link: ''
    }
  ])
  <div class="page_content">
    <div class="main_content">
    <!--main post-->
    include ../detail_partical/_detail_main_post

      <!--pay-->
      section.content.content_pay
        .wrapper
          .label_title
            |料金
          <p class="text">大人 10,000JPY 子供 5,000JPY<br>*小児の料金·運賃は大人の料金·運賃を折半し、10円未満の端数は10円単位に切り上げた額とします。</p>
          include ./_option_form
          .pass_shop
            h4.title
              ='shop'
            include ../detail_partical/_detail_shop

          - for (var i = 0; i < 1; i++) {
          - var item = data.inside_article[1]
          <div class="relation_content">
            h4.title
              =item.title
            <div class="swiper-container" id="#{item.swiper}">
            <ul class="swiper-wrapper">
              - for (var j = 0; j < item.article.length; j++) {
              - var article = item.article[j]
                <li class="swiper-slide">
                  <a href="#{article.link}">
                    <img src=#{path_dammy + "item/a_01.png"} alt="" width="100%" height="auto">
                    <p class="name">#{article.text}</p>
                  </a>
                </li>
              - }
            </ul>
            </div>
          </div>
          - }

      <!--useful area-->
      section.content
        .wrapper
          h3.title
            | 利用可能エリア
          .visual.limit
            <img src=#{path_dammy + "item_01_big.png"} alt="" width="100%" height="auto"/>
          <p class="description">若要乘坐特快列車，請另行購買特快票。 <br>·淺草至下今市之間只能往返乘坐一次。（東京晴空塔站、栃木站可以在半途中下車） <br>·不包含日光的神社和寺院的通用參拜券。 <br>·不能乘坐JR相直特快。 <br>·搭乘SL「大樹」的旅客、請另外購買SL座位指定票。</p>

      <!--special-->
      section.content
        .wrapper
          h3.title
            | 特典
          .visual.limit
            <img src=#{path_dammy + "item_01_big.png"} alt="" width="100%" height="auto"/>
          <p class="description">若要乘坐特快列車，請另行購買特快票。 <br>·淺草至下今市之間只能往返乘坐一次。（東京晴空塔站、栃木站可以在半途中下車） <br>·不包含日光的神社和寺院的通用參拜券。 <br>·不能乘坐JR相直特快。 <br>·搭乘SL「大樹」的旅客、請另外購買SL座位指定票。</p>

      <!--attention-->
      section.content
        .wrapper
          h3.title
            | 注意事項
          <p class="description">若要乘坐特快列車，請另行購買特快票。 <br>·淺草至下今市之間只能往返乘坐一次。（東京晴空塔站、栃木站可以在半途中下車） <br>·不包含日光的神社和寺院的通用參拜券。 <br>·不能乘坐JR相直特快。 <br>·搭乘SL「大樹」的旅客、請另外購買SL座位指定票。</p>
          <p class="more-link"><a href="#" class="link_more">詳細情報</a></p>
      <!--place-->
      section.content.content_place
        .wrapper
          h3.title
            | 販売場所
          .visual.limit
            <img src=#{path_dammy + "item_01_big.png"} alt="" width="100%" height="auto">
            <iframe class="video" src="https://www.youtube.com/embed/cZLYvI-I0Ig" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <p class="description">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明<br>説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明</p>
          div
            h4.title
              |店舗情報
            include  ../detail_partical/_detail_shop

      <!--buy-->
      section.content
        .wrapper
          h3.title
            | 購入方法
          .visual.limit
            <img src=#{path_dammy + "item_01_big.png"} alt="" width="100%" height="auto">
            <iframe class="video" src="https://www.youtube.com/embed/cZLYvI-I0Ig" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <p class="description">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明<br>説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明</p>
          div.relation_content
            h4.title
              =data.relation.title
            <div class="swiper-container" id=#{data.relation.swiper+"Buy"}>
              <ul class="swiper-wrapper">
              - for (var i = 0; i < data.relation.article.length; i++) {
              - var article = data.relation.article[i]
                <li class="swiper-slide">
                  <a href="#{article.link}">
                    <div class='pass_item_a'>
                      <div class='visual_video'><img src=#{'../../image/icon/play.svg'} alt=""></div>
                      <div class="visual" style="background-image: url(https://i.ytimg.com/vi/WLoFA_xv2nQ/hqdefault.jpg)"></div>
                    </div>
                    <p class="name">#{article.text}</p>
                  </a>
                </li>
              - }
              </ul>
            </div>

      <!-use-->
      section.content
        .wrapper
          h3.title
            | このパスの使い方
          .visual.limit
            <img src=#{path_dammy + "item_01_big.png"} alt="" width="100%" height="auto">
            <iframe class="video" src="https://www.youtube.com/embed/cZLYvI-I0Ig" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          p.description
            |湯元溫泉，中禪寺溫泉方向的巴士與世界遺產巡遊巴士的西參道公交站不同。乘坐時敬請留意。 敬請確認路線圖中的停靠站序號和巴士內顯示器所表示的號碼之後再乘車。
          div.relation_content
            h4.title
              =data.relation.title
            <div class="swiper-container" id=#{data.relation.swiper + "Use"}>
              <ul class="swiper-wrapper">
              - for (var i = 0; i < data.relation.article.length; i++) {
              - var article = data.relation.article[i]
                <li class="swiper-slide">
                  <a href="#{article.link}">
                    <div class='pass_item_a'>
                      <div class='visual_video'><img src=#{'../../image/icon/play.svg'} alt=""></div>
                      <div class="visual" style="background-image: url(https://i.ytimg.com/vi/WLoFA_xv2nQ/hqdefault.jpg)"></div>
                    </div>
                    <p class="name">#{article.text}</p>
                  </a>
                </li>
              - }
              </ul>
            </div>

      <!--shop-->
      section.content.content_sub.main_shop
        .wrapper
          h4.title
            |施設情報
          include  ../detail_partical/_detail_shop
      include  ../detail_partical/_detail_relation_route&pass
      <!--contact-->
      section.content
        include ./_contact
      <!--tag-->
      include ../detail_partical/_detail_main_tag
      <!--action-->
      include ../detail_partical/_detail_action
      <!--share-->
      include ../detail_partical/_detail_share
      <!--comment-->
      include ../detail_partical/_detail_comment
      <!--relate post-->
      include  ../includes/_rank_side_bar
  </div>
    include ../detail_partical/_detail_side_bar
  </div>

