extends ../layouts/_default.pug
block meta
  - var page_name = "Top"
  title
    =page_name
  meta(
  name='keywords'
  content='keywords'
  )
  meta(
  name='description'
  content='description'
  )
  meta(
  name='language'
  content='en'
  )

block page_option
  - page_class.push('page_a notice_page')
  - base_path = '../'

block content
  .page_content.x_page_content
    .x_scroll_content
      .notice_wrap
        .notice_wrap_cont.x_news_list
          h2 お知らせ
          ul.notice_ul.x_render_parent
          include ../includes/_loading.pug