extends ../layouts/_default.pug
block meta
  - var page_name = "パスワードを再発行しました。"
  title
    =page_name
  meta(
  name='keywords'
  content='keywords'
  )
  meta(
  name='description'
  content='description'
  )
  meta(
  name='language'
  content='en'
  )
block page_option
  - page_class.push('page_a page_news_list page_login')
  - base_path = '../'
  - headerType = '2'
block content
  .page_content.x_page_content
    .x_scroll_content.scroll_content
      .login_cont_wrap
        h2.title_h= page_name
        div.login_suc_text
          p ログイン画面より新しいパスワードで
          p 再度ログインしてください。
        .login_submit_button
          a(href="/") ログイン