extends ../layouts/_default.pug
block meta
  - var page_name = "パスワード再設定"
  title
    =page_name
  meta(
  name='keywords'
  content='keywords'
  )
  meta(
  name='description'
  content='description'
  )
  meta(
  name='language'
  content='en'
  )
block page_option
  - page_class.push('page_a page_news_list page_login')
  - base_path = '../'
  - headerType = '2'
block content
  .page_content.x_page_content
    .x_scroll_content.scroll_content
      .login_cont_wrap
        h2.title_h
          = page_name
        div.login_suc_text
          p 登録されているメールアドレスに
          p パスワード再設定のURLをお送りします。
        form(id="changePwForm" action="/")
          .input_wrap.form_wrap
            p.title
              span.title_label 必須
              | メールアドレス
            .input_row
              input(type="text" name="text" placeholder="登録したメールアドレスをご入力ください" autocomplete="off" check="required email")
            p.error_text 必須項目です。必ずご入力ください。
          .login_submit_button
            input(type="submit" value="次へ")