extends ../layouts/_default.pug
block meta
  - var page_name = "マイページ"
  title
    =page_name
  meta(
  name='keywords'
  content='keywords'
  )
  meta(
  name='description'
  content='description'
  )
  meta(
  name='language'
  content='en'
  )
block page_option
  - page_class.push('page_a my_page')
  - base_path = '../'
block content
  -
    var my_list = [
      {
        title:'お気に入り記事',
        key:'collection',
        linkTo:'/my_page/my_list.html?isDev=true'
      },
      {
        title:'お気に入り店舗',
        key:'route',
        linkTo:'/my_page/my_list.html?isDev=true'
      },
      {
        title:'投稿した記事',
        key:'route',
        linkTo:'/my_page/my_list.html?isDev=true'
      },
      {
        title:'コメントした記事',
        key:'route',
        linkTo:'/my_page/my_list.html?isDev=true'
      },
      {
        title:'閲覧した記事',
        key:'route',
        linkTo:'/my_page/my_list.html?isDev=true'
      }
    ]
  -
  .page_content.x_page_content
    .x_scroll_content.scroll_content
      -
      +breadcrumb([
        {
          name: 'Top',
          link: 'index.html'
        },
        {
          name: page_name,
          link: ''
        }
      ])
      -
      .wrapper
        .my_info_wrap
          .my_info_cont
            .my_info_text
              .my_info_name_wrap
                p.my_portrait
                  span(class="is_default_portrait")
                  span(style={"background":"#fff url(../image/dummy/item/a_01.png) center center no-repeat", "background-size": "cover"})
                p.my_name David
              .my_info_row
                span.title メールアドレス
                span nihonhoudai2018@@gmail.com
              .my_info_row
                span.title 出身国・地域
                span 日本
              .my_info_row
                span 2014年来日。留学、就職、2016年個人創業、株式会社TOMOTOMO設立された。今は日本で頑張りたいと思います。
              a(href="#").my_info_btn 変更する
            a(href="#").my_info_link ログアウトする
          a(href="#" target="_blank")
            img(src="../image/my_page/my_PinnAR.svg" alt="PinnAR" class="image_pin")
        .my_center_wrap
            - for(var i = 0; i < my_list.length; i++){
            - var item = my_list[i]
            .list_cell
              .header_title
                .cell_title
                  p.title_text
                    span #{item.title}
                    i 12件
                  a.more(href=item.linkTo) 一覧を見る
              .swiper-cont-wrap
                .swiper-container(id='x_top_cell' + i)
                  ul.swiper-wrapper.item_b
                    li.swiper-slide
                      a(href="#")
                        .visual_video_wrap
                          .visual_video
                            img(src="../image/icon/play.svg" alt="play")
                          .visual(style={"background-image": "url(../image/top/PinnAR.svg)"})
                        p.title NIKKO CITY AREA PASS NIKKO CITY AREA PASSNIKKO CITY AREA PASSNIKKO CITY AREA PASSNIKKO CITY AREA PASS
                        p.time 2018/05/22 10:23
                    li.swiper-slide
                      a(href="#")
                        .visual_video_wrap
                          .visual_video
                            img(src="../image/icon/play.svg" alt="play")
                          .visual(style={"background-image": "url(../image/top/PinnAR.svg)"})
                        p.title NIKKO CITY AREA PASS
                        p.time 2018/05/22 10:23
                    li.swiper-slide
                      a(href="#")
                        .visual_video_wrap
                          .visual_video
                            img(src="../image/icon/play.svg" alt="play")
                          .visual(style={"background-image": "url(../image/top/PinnAR.svg)"})
                        p.title NIKKO CITY AREA PASS
                        p.time 2018/05/22 10:23
                    li.swiper-slide
                      a(href="#")
                        .visual_video_wrap
                          .visual_video
                            img(src="../image/icon/play.svg" alt="play")
                          .visual(style={"background-image": "url(../image/top/PinnAR.svg)"})
                        p.title NIKKO CITY AREA PASS
                        p.time 2018/05/22 10:23
                .swiper-button-prev(class='x_swiper_btn_p' + i)
                .swiper-button-next(class='x_swiper_btn_n' + i)
            - }
