extends ../layouts/_default.pug
block meta
  - var page_name = "特集一覧"
  title
   =page_name
  meta(
    name='keywords'
    content='keywords'
  )
  meta(
    name='description'
    content='description'
  )
  meta(
    name='language'
    content='en'
  )

block page_option
  - page_class.push('page_a page_news_list')
  - base_path = '../'

block content
  <div class="page_content x_page_content">
    <div class="x_scroll_content">
      include ../includes/_list_swiper.pug
      <section class="content">
        <div class="wrapper x_news_list">
          <h2 class="list_title">
            <span class="main">#{page_name}</span>
            <p>全て: <span class="x_total_count">--</span>件</p>
          </h2>
          <div class="content_body">
            <ul class="news_list x_render_parent"></ul>
            include ../includes/_loading.pug
          </div>
        </div>
      </section>
    </div>
  </div>

