- pathIcon = !isDev ? '../../image/icon/' : '/resources/image/icon/'
block content
  -
    data.inside_article = [
      {
        "title":"news",
        "swiper":"mainNewsSwiper",
        "article":[
          {"text":"news_1","link":"#"},
          {"text":"news_2","link":"#"},
          {"text":"news_3","link":"#"}
        ]
      },
      {
        "routeTitle":"このお店は含まれるルート",
        "title":"関連するルート",
        "swiper":"mainRouteSwiper",
        "article":[
          {"text":"ルート_記事_1","link":"#"},
          {"text":"ルート_2","link":"#"},
          {"text":"ルート_3","link":"#"},
          {"text":"ルート_3","link":"#"},
        ]
      },
      {
        "routeTitle":"このお店は含まれるお得パス",
        "title":"使えるお得パス",
        "swiper":"mainPassSwiper",
        "article":[
          {"text":"お得パス_記事_1","link":"#"},
          {"text":"お得パス_2","link":"#"},
          {"text":"お得パス_3","link":"#"}
        ]
      }
    ]

- for (var i = 0; i < data.inside_article.length; i++) {
- var item = data.inside_article[i]
section.content.content_sub.main_relation
  .wrapper
    <div class="relation_content">
      h4.title
        =isRoute ? item.routeTitle : item.title
    <div class="swiper-container" id="#{item.swiper}">
      <ul class="swiper-wrapper">
      - for (var j = 0; j < item.article.length; j++) {
      - var article = item.article[j]
        <li class="swiper-slide">
          <a href="#{article.link}">
            //<div class="visual_video">
            //  <img src=#{path_icon + 'play.svg'} alt=""/>
            //</div>
            //<img src=#{path_dammy + "item/a_01.png"} alt="" width="100%" height="auto">
            <div class='pass_item_a'>
              <div class='visual_video'><img src=#{pathIcon + 'play.svg'} alt=""></div>
              <div class="visual" style="background-image: url(https://i.ytimg.com/vi/WLoFA_xv2nQ/hqdefault.jpg)"></div>
            </div>
            <p class="name">#{article.text}</p>
          </a>
        </li>
      - }
      </ul>
    </div>
    </div>
- }