<section class="content content_share">
  <div class="wrapper">
    <h4 class="content_header">シェア</h4>
    <ul class="sns_list">
      <li class="item">
        <a target="blank" href="" onclick="window.open(this.href,'sns_window','width=650,height=450,menubar=no,toolbar=no,scrollbars=yes'); return false;">
          <img src="#{path_icon + 'share/' + 'twitter.svg'}" alt="#{item.name}" width="70px" height="70px" class="icon">
          <p>Twitter</p>
        </a>
      </li>
      <li class="item">
        <a href="http://www.facebook.com/share.php?u=https://www.facebook.com/NIPPONHODAI" onclick="window.open(this.href,'sns_window','width=650,height=450,menubar=no,toolbar=no,scrollbars=yes');return false;" >
          <img src="#{path_icon + 'share/' + 'facebook.svg'}" alt="#{item.name}" width="70px" height="70px" class="icon">
          <p>Facebook</p>
        </a>
      </li>
      <li class="item">
        <a href="http://www.facebook.com/share.php?u=https://www.facebook.com/NIPPONHODAI" onclick="window.open(this.href,'sns_window','width=650,height=450,menubar=no,toolbar=no,scrollbars=yes');return false;" >
          <img src="#{path_icon + 'share/' + 'wechat.svg'}" alt="#{item.name}" width="70px" height="70px" class="icon">
          <p>Wechat</p>
        </a>
      </li>
      <li class="item">
        <a href="http://line.me/R/msg/text/?[title][https://www.facebook.com/NIPPONHODAI]" onclick="window.open(this.href,'sns_window','width=650,height=450,menubar=no,toolbar=no,scrollbars=yes');return false;" >
          <img src="#{path_icon + 'share/' + 'line.png'}" alt="#{item.name}" width="70px" height="70px" class="icon">
          <p>Line@</p>
        </a>
      </li>
      <li class="item">
        <a href=""  class="copy_link x_copy_link">
          <span class=" x_copy_value"></span>
          <img src="#{path_icon + 'share/' + 'link.svg'}" alt="#{item.name}" width="70px" height="70px" class="icon">
          <p>Copy Link</p>
        </a>
      </li>
    </ul>
  </div>
</section>