section.content.content_comment
  .wrapper
    .label_title
      | コメント
    .comment_input.x_comment_input
      .textarea_wrapper
        textarea(
        maxlength=300
        placeholder="コメントする"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='コメントする'"
        )
        .count.x_text_count
          span.number
            | 0
          span
            | /
          span
            | 300
      button.button.primary.x_comment_button.disabled
        | 送信
    .comment_container
    script(type='text/template' id='comment_template')
      .comment_wrapper
        .comment_item
          .info_user
            .avatar.x_avatar.is_default
            .info
              .name.x_name
              .date.x_date
          .text
          .action_container
            .enable_delete.x_delete.x_comment_delete.hidden
              | 削除
            .reply_collapse
              .is_open.hidden
                | 返信を閉じる
              .is_close
                | 返信
        .comment_reply.x_comment_reply
          .comment_input.x_reply_input
            .textarea_wrapper
              textarea(
              maxlength=300
              placeholder="返信する"
              onfocus="this.placeholder=''"
              onblur="this.placeholder='返信する'")
              .count.x_text_count
                span.number
                  | 0
                span
                  | /
                span
                  | 300
            button.button.primary.disabled.x_reply_button
              | 返信
          .reply_container
          .reply_collapse.at_end
            .is_open
              | 返信を閉じる

    script(type='text/template' id='reply_template')
      .reply.comment_item
        .info_user
          .avatar.x_avatar.is_default
          .info
            .name.x_name
            .date.x_date
        .text
        .action_container
          .enable_delete.x_delete.x_reply_delete.hidden
            | 削除
    p.empty_holder.hidden
      | このコメントは削除されました。